# Ignore files named fp-info-cache
fp-info-cache

# Ignore files with the .kicad_prl extension
*.kicad_prl

# Ignore all .zip files in the backup directory
*-backups/
backups/

*.ipc
*-options.json
*#auto_saved_files#
*.lck
*_autosave-*